/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

select {
    padding: 8px;
    border-radius: 4px;
}

.talkgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 4px 0px;
    padding: 4px 8px;
}

.talkgroup:hover {
    background-color: lightblue;
}

.talkgroup input {
    width: 1.3rem;
    height: 1.3rem;
}

.talkgroup label {
    flex-grow: 1;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  background: #fff;
  transition: transform 0.3s ease;
  z-index: 999;
}

#menu-toggle {
  display:none;
  z-index:1000;
  background:white;
  border:1px solid #ccc;
  padding: 16px 8px;
  font-size:.75em;
  cursor:pointer;
  transform: translateX(100%);
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}

@media (max-width: 800px) {
  #menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transform: translateX(-100%);
    box-shadow: 2px 0 8px rgba(0,0,0,0.15);
  }
  #menu.open {
    transform: translateX(0);
  }
  #right {
    flex: 1 1 auto;
    width: 100vw;
  }
  #menu-toggle {
    display: block;
  }
}
body.menu-open {
  overflow: hidden;
}